Debug/
Release/
build/
listing/
*.obj
*.o
*.sfc
*.smc
*.srm
*.sym
*.spc
*.map
*.bnk
*.rom
*.vim
*.swp
*.pnproj
*.pnps
*.npp
*.vcproj
*.sln
*.ncb
*.suo
*.user

.*~
*~
*.tmp
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.tags
tags
.Trashes
Icon?
ehthumbs.db
Thumbs.db

