Debug/
Release/
build/
listing/
*.obj
*.o
*.sfc
*.smc
*.srm
*.sym
*.spc
*.it
*.pic
*.clr
*.img
*.map
*.pc7
*._pc
*.mp7
*.bnk
*.rom
*.brr
*.pnproj
*.pnps
*.npp
*.vim
*.swp
*.vcproj
*.sln
*.ncb
*.suo
*.user

*.*~
*.tmp
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

